.lxWindowPane {
    -fx-fill: transparent;
    -fx-background-color: transparent;
    -fx-stroke-width: 0;
    -fx-border-radius: 5;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: cornflowerblue;
}

#titlePane {
    -fx-background-color: linear-gradient(to right,
        white 0.000%,
        cornflowerblue 100.000%);
}

.closeBtn{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("close.png");
    -fx-background-repeat:no-repeat;
}
.closeBtn:hover{
    -fx-background-color: null;
    -fx-background-image:url("close-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Fullscreen button
*/
.maximizeBtnFull{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("fullscreen.png");
    -fx-background-repeat:no-repeat;
}
.maximizeBtnFull:hover{
    -fx-background-color: null;
    -fx-background-image:url("fullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}
.maximizeBtnUnFull{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("unfullscreen.png");
    -fx-background-repeat:no-repeat;
}
.maximizeBtnUnFull:hover{
    -fx-background-color: null;
    -fx-background-image:url("unfullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}

.minimizeBtn{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("minimize.png");
    -fx-background-repeat:no-repeat;
}

.minimizeBtn:hover{
    -fx-background-color: null;
    -fx-background-image:url("minimize-hover.png");
    -fx-background-repeat:no-repeat;
}