.desktop{
    -fx-background-image: url("../images/bg3.jpg");
    -fx-background-repeat: stretch;
    /*-fx-background-size: 900 506;*/
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.desktop-toolbar {
    -fx-padding: 0 5px 0 5px;
    -fx-background-color: black;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
}

.desktop-toolbar .toolbar-item {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: none;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
}

.desktop-toolbar .toolbar-item:hover {
    -fx-background-color: rgba(106, 105, 100, 0.71);
    -fx-border-color: transparent;
    -fx-background-radius: none;
}

.desktop-toolbar .toolbar-item .label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.glyph-icon{
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    /*-glyph-size: 25px;*/
}

.desktop-toolbar .window-graphic {
    -glyph-name: "WINDOWS";
    -icons-color: white;
    -glyph-size: 25px;
}

.desktop-toolbar .browser-graphic {
    -glyph-name: "GOOGLE_CHROME";
    -icons-color: white;
    -glyph-size: 25px;
}

.desktop-toolbar .message-graphic {
    -glyph-name: "MESSAGE_PROCESSING";
    -icons-color: white;
    -glyph-size: 25px;
}

.desktop-toolbar .date-graphic {
    -glyph-name: "WINDOWS";
    -icons-color: white;
    -glyph-size: 25px;
}

.desktop-pane {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 20px;
}

.desktop-item {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-text-alignment: center;
    -fx-border-insets: 5px;
}

.desktop-item .item-content {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-content-display: top;
    -fx-spacing: 5px;
    -fx-text-fill: white;
}

.desktop-item:hover {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(255, 255, 255, 0.11);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.popup-pane {
    -fx-background-color: #2d2d2d;
    -fx-fill: #2d2d2d;
    -fx-padding: 10px;
}

.popup-pane> .button{
    -fx-text-fill: white;
}
.popup-pane> .label{
    -fx-text-fill: white;
}

.toolbar-button-container {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
}

.toolbar-button {
    -fx-background-color: darkgray;
    -fx-border-color: #cfcfcf;
    -fx-border-width: 0 0 5px 0;
    -fx-background-radius: none;
}

.toolbar-button:hover {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
}

.toolbar-button-close {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: none;
    -fx-padding: -1 -1 0 0;
}

.toolbar-button-close-graphic {
    -glyph-name: "CLOSE";
    -icons-color: white;
    -glyph-size: 10px;
}

.desktop-button-min-graphic {
    -glyph-size: 15px;
}

.content-pane {
    -fx-spacing: 2px;
}

.desktop-context-menu {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: #cfcfcf;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.desktop-context-menu .menu-item .label,.button{
    -fx-text-fill: black;
}

.desktop-context-menu .menu-item:hover {
    -fx-background-color: #cfcfcf;
}

.screen-full-graphic {
    -glyph-name: "WINDOW_MAXIMIZE";
    -icons-color: black;
    -glyph-size: 25px;
}

.screen-restore-graphic {
    -glyph-name: "WINDOW_RESTORE";
    -icons-color: black;
    -glyph-size: 25px;
}

.screen-about-graphic {
    -glyph-name: "EVENT_NOTE";
    -icons-color: black;
    -glyph-size: 25px;
}

.plan-pane-graphic {
    -glyph-name: "PLAY_CIRCLE";
    -icons-color: white;
    -glyph-size: 50px;
}

.popup-text {
    -fx-text-fill: white;
}

.cvs-graphic{
    -glyph-name: "ALIGN_JUSTIFY";
    -icons-color: white;
    -glyph-size: 50px;
}

.home-graphic {
    -glyph-name: "TACHOMETER";
    -icons-color: white;
    -glyph-size: 50px;
}

.form-graphic {
    -glyph-name: "ALIGN_JUSTIFY";
    -icons-color: white;
    -glyph-size: 50px;
}