.context-menu {
    /*-fx-background-color:rgb(0.0,0.0,0.0,0.85);*/
    /*-fx-background-radius:4.0;*/
    /*!*-fx-border-width:2.0;*/
  /*-fx-border-style:segments(4.0); *!*/
    /*-fx-cursor:hand;*/
    /*-fx-padding: 10px;*/

    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: #cfcfcf;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.menu-item .label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
}

.menu-item:focused {
    -fx-background-color:orange;
    -fx-background-radius:10.0;
}



/*******************************************************************************
*                           Title-Menu-Item                            *
******************************************************************************/
.title-menu-item .label{
    -fx-text-alignment:center;
}

.title-menu-item .label .text{
    -fx-text-alignment:center;
}


/* When the Label-Menu-Item is disabled [Always it is cause i don't want the user to be able to click it] */
.title-menu-item:disabled {
    -fx-opacity: 1.0;
    -fx-border-color:transparent white white white;
    -fx-cursor:default;
}

.title-menu-item:disabled:hover{
    -fx-background-color: transparent;
}

.title-menu-item:disabled .label {
    -fx-opacity: 1.0;
    -fx-font-size:10.0;
    -fx-font-weight:bold;
    -fx-text-fill:white;
    -fx-text-alignment:center;
    -fx-text-fill:orange;
}

.title-menu-item:disabled:hover .label {
    -fx-background-color: transparent;
}